<!-- Dashboard Content -->
<div class="container mt-5">
  <h1>My Blog</h1>

  <!-- Existing Blog Posts -->
  {{!-- {{#if blogs.length}} --}}
  <div class="mt-4">
    
    <h3></h3>
    <div class="list-group">
      <a href="/posts/1" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{blog.name}}</h5>
          <p class="mb-1">{{description}}</p>
          <p class="mb-1">{{format_date date_created}}</p>
        </div>
      </a>
    </div>
  </div>
  {{!-- {{else}} --}}
  {{!-- <p>NO BLOGS FOUND....YET!</p> --}}
  {{!-- {{/if}} --}}

  <!-- Add New Blog Post -->
</div>

<script src="js/comments.js"></script>